<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <connectionStrings>
    <add name="connGlobal" connectionString=" Server=PANDORA;Database=RVL;User Id=sa;&#xD;&#xA;Password=pisokins22;"
      providerName="System.Data.SqlClient" />
    <add name="RVL_Management_System.Properties.Settings.RVLConnectionString"
      connectionString="Data Source=PANDORA;Initial Catalog=RVL;User ID=sa;Password=pisokins22"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="gpgmgmtcandrc.richmondl@gmail.com" password="smellthecolor2"/>
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>